input {
  color: #6d6175;
  margin-bottom: 0px;
}

.container {
  margin-top: 10vh;
}

.error-feedback {
  margin-left: 5px;
  color: #e74c3c;
  font-size: 13px;
}

/* Datepicker */
.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}
